.App {
  font-family: sans-serif;
  text-align: center;
}

.deco {
  border-radius: 50%;
}

.avatar {
  border-radius: 70%;
}

.byulPro {
  background-color: aquamarine;
}

.jisuPro {
  background-color: yellow;
}
